/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #444;
    font-family:"Lucida Sans Unicode",sans-serif;
    background-image: url("../../assets/images/lb5/images/bg.jpg");
    line-height: 1.6;
}

#container {
    max-width: 800px;
    margin: auto;
    background-image: url("../../assets/images/lb5/images/bgcontainer.jpg");
    background-size: contain;
    color: #333;
    padding: 0 30px;
}

/* Header Styles */
#header {
    padding-top: 20px;
    color: #FFC;
    background-image: url("../../assets/images/lb5/images/bgcontent.gif");
    background-repeat: no-repeat;
    background-size: contain;
}

.top-nav {
    text-align: center;
    margin-bottom: 70px;
}

.top-nav a {
    color: #6C7151;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
}

.top-nav a:hover {
    color: #2C3111;
}


#banner {
    background-image: url("../../assets/images/lb5/images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0 0 100px;
    height: 300px;
}

#banner h1 {
    font-size: 46px;
    color: #f0e68c;
    font-family: 'Garamond', serif;
    margin-bottom: 20px;
}

#banner p {
    font-size: 18px;
    color: #fff;
}

#content {
    background-image: url("../../assets/images/lb5/images/bgcontent.gif");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 50px;
}

.content-block {
    margin-bottom: 40px;
}

.title {
    font-size: 30px;
    color: #445044;
    font-weight: bold;
    font-family: 'Garamond', serif;
}

.title::first-letter {
    padding-top: 10px;
    font-size: 65px;
    float: left;
    line-height: 1; /* To align the first letter with the text */
}

.date {
    margin-top: -5px;
    padding-left: 15px;
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.content-body p {
    margin-bottom: 15px;
}

.content-body img {
    float: left;
    margin-right: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.clear-float::after {
    content: "";
    display: table;
    clear: both;
}

.content-line {
    background-image: url("../../assets/images/lb5/images/content_line.gif");
    height: 15px;
}

/* Footer Styles */
#footer {
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 40px;
    border-top: 1px solid #ddd;
    background-image: url("../../assets/images/lb5/images/bgfooter.gif");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.content-body {
    margin-top: 30px;
}

.header-line {
    background-image: url("../../assets/images/lb5/images/header_line.gif");
    height: 15px;
}