body {
    font-family: Arial, sans-serif;
    background-image: url("../../assets/images/lb3/bg_body.png");
    background-repeat: repeat-x;
    background-color: #97BDE1;
    color: #4F709D;
}

h1 {
    color: #0000FF;
    margin-top: 100px;
    font-size: 100px;
    font-weight: 1000;
}

p {
    padding-left: 60px;
    color: black;
    font-size: 1.2em;
    line-height: 1.6;
    margin: 20px;
}

h2 {
    color: #254f7b;
    margin-left: 20px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    background: url("../../assets/images/lb3/bg_h2.png") left top no-repeat;
}

hr {
    color: white;
    background-color: white;
    height: 4px;
}

.intro {
    margin: 20px;
    padding: 10px;
    color: inherit;
}

pre {
    padding: 15px;
    margin: 20px;
    color: #4D73A3;
}

address {
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    font-style: italic;
    color: blue;
}
